
/* Borrowed from http://vectorspedia.com/free-vector/vector-animal-stylized-triangle-mode-9835/ */

.jumbotron {
    background-image: url("../img/buffalo-large.jpg");
    background-size: 90%;
    background-position: 40% 58%;
}
